<footer class="app-footer" >
    <div class="section-top"  style="text-align: center;">
            <div class="d-flex align-items-center">
                <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group" >
                            <input type="text" class="form-control"  placeholder="I need information about... My Hotels... My Reservations... My Channel Manager..." >
                            <span class="input-group-addon">
                                <button type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
                <!--***********************************-->
                <!--***********Section Bottom**********-->
                <!--***********************************-->

                <div class="d-xg-flex d-lg-flex flex-xs-row justify-content-start py-3" id="section-bottom">
                    <div class="text-left  p-2">
                        <img class="navbar-brand-logo" src=".././assets/img/logo/logo.png" alt="USBLick logo" />
                    </div>
                    <div class="text-left p-2 pl-5 flex-sm-row">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                              <a class="menu-sesion font-menu nav-link" href="#">Set up my Account</a>
                            </li>
                            <li class="nav-item">
                              <a class="menu-sesion font-menu nav-link" href="#">My Hotels</a>
                            </li>
                            <li class="nav-item">
                              <a class="menu-sesion font-menu nav-link" href="#">My Saved Reservations</a>
                            </li>
                            <li class="nav-item">
                              <a class="menu-sesion font-menu nav-link" href="#">My Channel Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="menu-sesion font-menu nav-link" href="#">My Statistics</a>
                              </li>
                          </ul>
                      </div>
                      <div class="p-2 flex-sm-row ml-auto justify-content-sm-center">
                          <ul class="nav justify-content-lg-end justify-content-xg-end justify-content-md-start justify-content-sm-center">
                              <li class="nav-item">
                                  <a href="#help" class="menu-sesion font-menu nav-link">Help</a>
                              </li>
                              <li class="nav-item">
                                <a class="menu-sesion font-menu nav-link"></a>
                            </li>
                              <li class="nav-item">
                                  <a href="#seccion-perfil" class="menu-sesion font-menu nav-link">{{username}}</a>
                              </li>
                              <li class="nav-item">
                                  <button type="button" class="close menu-sesion" (click)="logout()" tooltip="Logout" placement="bottom">
                                      <img src="assets/img/app/power.png">
                                    </button>
                              </li>
                            </ul>
                        </div>
                  </div>
</footer>
