@import "src/theme/theme-variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

html,body{

  margin:0px;
  padding: 0;

  }

.app-footer {
  background-color: rgb(13, 10, 27);
  color: #d8d5ce;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;

}

#imaginary_container{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6%;
    background: #ccc;

}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.navbar-brand-logo {
  opacity: 0.5;
  top: 0;
}

.icon {
  border: 1;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}


.icon .icon-search {
  font-size: .9em;
  padding: 5px;
  padding-right: 15px;
  width: px;
  text-align: center;
  text-decoration: none;
  color: #5b5953;
}

#section-bottom {
  background-color: rgb(13, 10, 27);
  color: #d8d5ce;
  left:0;
  width: 100%;
  padding: 25px 25px 100px 25px !important;
  margin: 0;
  vertical-align: top;
}


.section-top {
  background-color: rgb(23, 21, 35);
  color: #d8d5ce;
  text-align:center;
  bottom:0;
  left:0;
  width: 100%;
  padding: 0px;
  height: 150px;
  vertical-align: middle;

}


.menu-sesion  {
  background-color: rgb(13, 10, 27);
  font-size: 1.1vw;
  color: rgb(161, 173, 193);
  text-decoration: none;
  padding: 0.3rem 1rem 0 0 !important;
}

.nav-link-menu {
  display: block;
  padding: 2rem 0.5rem; }
.nav-link-menu:focus, .nav-link-menu:hover {
  text-decoration: none;
  color: #fff; }
.nav-link-menu.disabled {
  color: #000;
}

.font-menu {
  font-size: 1.1vw;
  color: rgb(161, 173, 193);
}
