.table-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 100%;
    cursor: pointer;
}
  
.mat-table {
    max-height: 500px;
}

.mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    background-color: #e9ecef;   
    text-align: center;
    color: rgba(0, 0, 0, 0.788);
    justify-content: left;
    padding-left: 12px;
    font-weight: bold;
}

.mat-cell {
    font-size: 13px;
}

.mat-header-row {
    padding: 0px 0px;
    border-bottom-style: none;
    text-align: center;
}

.mat-row {
    border-bottom-style: dashed;
    padding: 0px 0px 0px 20px;
}

.mat-column-id {
    flex: 0 0 8%;
}

.mat-column-name {
    flex: 0 0 38%;
}

.mat-column-date {
    flex: 0 0 15%;
}

.mat-column-startTime {
    flex: 0 0 18%;
}

.mat-column-endTime {
    flex: 0 0 18%;
}

.name-label {
    color: black;
    margin-left: 10px;
    font-weight: bold;
    font-size: medium;
}

.background-label {
    background-color: #e9ecef;
    border-radius: 6px;
    font-size: 16px;
    padding-top: 4px;
    margin-bottom: 10px;
}

.description-label {
    font-weight: bold;
}

.textarea-style {
    height: 150px;
    width: 100%;
    margin-left: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.align-hour {
    margin-left: 24px;
}

.highlight-pink {
    background: rgba(245, 179, 212, 0.508);
}