input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}
b.colon {
  margin-top: 8px;
  font-size: 18px;
  margin-left: -2.5px;
  margin-right: -2.5px;
}
main.liness label {
  font-size: 13px;
}
input[type="radio"].cust_radio::before {
  content: "";
  position: absolute;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 35px;
  border: 2px solid #fafafa;
  box-shadow: inset 1em 1em red;
  outline: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s;
  transform: translate(21px, -12px);
}

input[type="radio"].cust_radio {
  position: relative;
  appearance: none;
}

input[type="radio"].cust_radio:focus::before {
  content: "";
  box-shadow: inset 1em 1em green;
}

button.increment_btns {
  outline: none;
  border: none;
  border-radius: 50px;
  background: #363636;
  height: 35px;
  width: 35px;
  color: #fff;
  font-weight: 300;
  font-size: 25px;
}
