<div class="row mt-5">
  <div class="col-12">
    <div class="container">
      <h1>CREAR</h1>
      <h3>Datos Principales</h3>
      <form action="">
        <main class="row">
          <section class="col-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                aria-describedby="textHelp"
                placeholder="Nombre del Establecimiento"
              />
            </div>
          </section>
          <section class="col-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                aria-describedby="textHelp"
                placeholder="Nombre de Fantasía"
              />
            </div>
          </section>
        </main>
        <div class="form-group">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Datos de la Propiedad"
            class="form-control"
          ></textarea>
        </div>
        <main class="row justify-content-between liness">
          <section class="col-2 form-group">
            <label for=""><b>Cantidad de habitaciones</b></label>
            <select id="" class="form-control">
              <option selected>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </section>
          <section class="col-2 form-group">
            <label for=""><b>Cantidad de pisos</b></label>
            <select id="" class="form-control">
              <option selected>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </section>
          <section class="col-2 form-group">
            <label for=""><b>Años de construcción</b></label>
            <select id="" class="form-control">
              <option selected>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </section>
          <section class="col-2 form-group">
            <label for=""><b>Cantidad de Restaurantes</b></label>
            <select id="" class="form-control">
              <option selected>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </section>
          <section class="col-3 form-group">
            <label for=""><b>Apto fumador</b></label>
            <div class="row space-between align-content-center">
              <div class="col">
                <input type="radio" class="cust_radio" aria-label="" />
                <label for=""><b>SI</b></label>
              </div>
              <div class="col">
                <input type="radio" class="cust_radio" aria-label="" />
                <label for=""><b>NO</b></label>
              </div>
            </div>
          </section>
        </main>
        <main class="row">
          <section class="col-6">
            <div class="form-group">
              <label for=""><b>Link Tripadvisor</b></label>
              <input
                type="text"
                class="form-control"
                aria-describedby="textHelp"
                placeholder=""
              />
            </div>
          </section>
          <section class="col-6">
            <div class="form-group">
              <label for=""><b>Coordenadas</b></label>
              <input
                type="text"
                class="form-control"
                aria-describedby="textHelp"
                placeholder="Coordenadas"
              />
            </div>
          </section>
        </main>
        <main class="row">
          <section class="col-12">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26238038.64797263!2d-103.21283441107386!3d38.9641301256163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2s!4v1636407823809!5m2!1sen!2s"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </section>
        </main>
        <h2>Check In - Check Out</h2>
        <main class="row">
          <section class="col-6">
            <h3>Check In</h3>
            <h4>From</h4>
            <div class="row">
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
            </div>
            <main class="row">
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <b class="colon">:</b>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <button type="submit" class="btn btn-dark checkinout_btn">
                AM
              </button>
            </main>
          </section>
          <section class="col-6">
            <h3>Check Out</h3>
            <h4>To</h4>
            <div class="row">
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
            </div>
            <main class="row">
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <b class="colon">:</b>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <button type="submit" class="btn btn-dark checkinout_btn">
                AM
              </button>
            </main>
          </section>
        </main>

        <main class="row mt-4">
          <section class="col-6">
            <h4>To</h4>
            <div class="row">
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
            </div>
            <main class="row">
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <b class="colon">:</b>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <button type="submit" class="btn btn-dark checkinout_btn">
                AM
              </button>
            </main>
          </section>
          <section class="col-6">
            <h4>To</h4>
            <div class="row">
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
            </div>
            <main class="row">
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <b class="colon">:</b>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  aria-describedby="timings"
                  placeholder="12:00"
                  min="00:00"
                  max="23:59"
                />
              </div>
              <button type="submit" class="btn btn-dark checkinout_btn">
                AM
              </button>
            </main>
          </section>
        </main>

        <main class="row mt-5 Requisitos_Check_In">
          <div class="form-group col-10">
            <h3 class="checkin_head">Requisitos Check In</h3>
            <label for="">Nombre </label>
            <input type="text" name="" id="" class="form-control" />
          </div>
          <div class="col-2">
            <button type="submit" class="increment_btns">+</button>
          </div>
        </main>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      </form>
    </div>
  </div>
</div>
