@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

main.main_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #ccc;
}

main.main_container *:not(i) {
  font-family: "Mulish", sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}
b.colon {
  margin-top: 8px;
  font-size: 18px;
  margin-left: -2.5px;
  margin-right: -2.5px;
}
main.liness label {
  font-size: 12px;
}
input[type="radio"].cust_radio::before {
  content: "";
  position: absolute;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 35px;
  border: 2px solid #fafafa;
  box-shadow: inset 1em 1em transparent;
  outline: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s;
  transform: translate(21px, -12px);
}

input[type="radio"].cust_radio {
  position: relative;
  appearance: none;
}

input[type="radio"].cust_radio:focus::before {
  content: "";
  box-shadow: inset 1em 1em #ed394d;
}

button.increment_btns {
  outline: none;
  border: none;
  border-radius: 50px;
  background: #363636;
  height: 35px;
  width: 35px;
  color: #fff;
  font-weight: 300;
  font-size: 25px;
}

.Requisitos_Check_In .col-2 {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.Requisitos_Check_In h5 {
  display: inline-block;
  float: right;
  color: #ed3e4d;
  font-size: 15px;
  font-weight: 700;
}

button.btn.btn-dark.checkinout_btn {
  padding: 5px 18px;
}

.main-data {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 15px 15px;
}

.main-data p {
  margin: 0;
}

input.form-control.extra::placeholder {
  float: right;
}

.ninos-main-radio .col-md-4:nth-child(5) {
  margin-top: 95px !important;
}

.mypanel .bg-dark {
  padding: 10px 15px;
  border-radius: 5px;
}

.media-sec .d-inline-block.text-center {
  padding: 15px 24px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.media-sec .d-inline-block.text-center:before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 10px;
  background: black;
  top: 20px;
  left: 0;
}

.media-sec .d-inline-block.text-center:nth-child(1):before {
  display: none;
}

.media-sec .col-2 {
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 7px;
}

.media-pics {
  border: dashed 1px #000;
  border-radius: 5px;
  padding: 15px 0;
}

.media-pick {
  border: dashed 1px #000;
  border-radius: 5px;
  padding: 15px 0;
}

.photos-main-sec2 {
  margin: 100px 0 0;
}

.photos-main-sec {
  margin: 100px 0 0;
}

.media-sec .d-inline-block.text-center.columna_opciones_4 {
  color: #f13951;
}

h4.text-center.subtitle_drag {
  color: #f13951;
  font-weight: 500;
}

.slect-pic *:not(.slect-pic img:last-child) {
  padding-left: 20px;
}

p.imagenes {
  background: #0e081c;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  width: 20%;
  padding: 5px 15px 2px 0;
  margin-top: 15px;
  margin-left: 20px;
}

.main-data > div.request-txt {
  position: relative;
  text-align: center;
}

.main-data i:first-child {
  position: absolute;
  left: 20px;
  top: 0;
  color: #000;
  font-size: 24px;
}

.main-data i:last-child {
  position: absolute;
  right: 0;
  top: -6px;
  color: #ed3a50;
  border: 2px solid;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 2;
  font-size: 16px;
}

h1.mainheadone {
  font-weight: 800;
  font-size: 25px;
  color: #ed3a50;
}
