.radio-button-div input {
    top: 1px;
}

.radio-button-div {
    border: none;
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 0px;
    height: 40px;
}

.checkmark {
    top: 1px;
    left: 6px;
    border-color: black;
    height: 20px;
    width:  20px;
    border-width: thin;
}

.radio-button-div .checkmark:after {
    background: black;
    height: 14px;
    width:  14px;
    top: 2px;
    left: 2px;

}

.radio-button-div input:checked ~ .checkmark {
    border-color: black;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #BA005D !important;
  }
  