  .main-div {
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 17%;
    max-width: 66%;
    text-align: left;
  }

  .card-body { 
    font-size: 10px;
    background-color: #F2F2F2;
    border-radius: 2.5%;
  }

  .card-header{
    background-color: #F2F2F2;
    border-color: transparent;
  }

  .rating-star{
    float: right;
  }

  .row{
    margin-left: 5%;
  }