.example-container {
    width: 100%;
    height: auto;
}
.mat-toolbar-single-row{
    padding: 0px !important;
}
mat-drawer-content {
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.toolbar-shadow{
    -webkit-box-shadow: 0px 2px 8px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(153,153,153,1);
    box-shadow: 0px 2px 8px 0px rgba(153,153,153,1);
}
.buton-menu-fix{
    position: absolute !important;
    top: 10px;
    right: 10px;
}
.buton-menu:focus{
    outline: none !important;
}
.sidenav-left{
    background-color: transparent;
    width: 280px;
    color: white !important;
}
.logo-text{
    width: 80px;
    height: auto;
}
.logo-notext{
    width: 40px;
    height: auto;
}
.sidenav-left .head-menu{
    background: #363636;
    height: 200px;
    position: relative;
}
.sidenav-left .list-menu{
    background-color: #363636;
    height: calc(100% - 200px);
}
.sidenav-left .list-menu .menu{
    background-color: #fff;
    /* height: calc(100% - 200px); */
}
.sidenav-left .list-menu .menu .top-menu-title{
    padding-left: 24px;
    padding-top: 35px;
    padding-bottom: 24px;
}
.sidenav-left .list-menu .menu .i-backoffice{
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: #ec394e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Muli";
}
.sidenav-left .list-menu .menu .title{
    font-size: 16px;
    line-height: 17px;
    color: #ec394e;
    font-family: "Muli";
    text-transform: uppercase;
    padding-left: 24px;
}
.sidenav-left .list-menu .items-menu{
    height: 40px;
    width: calc(100% - 24px);
    padding: 0 12px 0 24px;
    margin-right: 16px;
    font-weight: 400;
    font-size: 13px;
    font-family: "Muli";
    color: #000;
    display: flex;
    align-items: center;
}
.sidenav-left .list-menu .items-menu:focus{
    outline: none !important;
}
.sidenav-left .list-menu .items-menu:hover{
    cursor: default;
}
.sidenav-left .list-menu .subitems{
    padding: 0 12px 0 72px !important;
    color: #ec394e !important;
}
.sidenav-left .list-menu .subitems:hover{
    cursor: pointer;
}
.sidenav-left .list-menu .item-menu-active{
    background-color: #ec394e;
    border-left: solid 2px #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: calc(100% - 24px);
}
.item-menu-active-not-action{
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    justify-content: center !important;
    width: 100% !important;
    border-left: none !important;
    border-top-right-radius: none !important;
    border-bottom-right-radius: none !important;
}        
.item-menu-active-not-action .mat-icon{
    margin: 0px !important;
}
.compresed-menu{
    width: 64px;
}
.expand-hover:hover{
    width: 280px;
}
.sidenav-right{
    background-color: #f5f5f5;
    width: 280px !important;
    color: black !important;
}
.btn-container{
    width: 56px;
    height: 100%;
}
.btn-container button{
    margin: auto;
}
.mat-subheader {
    color: rgba(0,0,0,.54);
    /* margin-top: -8px !important; */
    height: 48px;
    line-height: 1 !important;
    margin: 0 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    padding: 16px;
}
.date{
    padding: 16px;
}
.date .date1, .date .date2{
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif !important;
    color: rgba(0,0,0,.54);
}
.date .date1{
    margin-bottom: 12px;
}

::ng-deep .mat-drawer-content {
    background-color: #f2f2f2;
}

::ng-deep .mat-list-item-content{
    width: 100%;
}

#top-navigation{
    padding: 10px;
}

.filter{
    width: 100%;
    height: 89px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #363636;
    padding: 0px 50px;
}

.btn-form{
    width: 122px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    line-height: 1;
    color: #ffffff;
    font-weight: 800;
    font-family: "Muli";
    text-align: center;
    text-transform: uppercase;
}
.btn-reset{
    background-color: #afadad;
}
.btn-search{
    background-color: #eb394d;
}

.input-custom{
    background-color: transparent !important;
    border-radius: 25px;
    border: solid 2px #fff;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    font-weight: 500;
    font-family: "Muli";
    display: flex;
    align-items: center;
    height: 30px !important;
    width: 175px;
    padding: 0px 20px;
}
.input-custom option{
    color: #000
}

.content-new{
    width: 109px;
    height: calc(100% - 10px);
    border-left: solid 1px #ffffff;
    padding-left: 24px;
}

.btn-new{
    font-size: 13px;
    line-height: 1;
    color: #ffffff;
    font-weight: 500;
    font-family: "Muli";
}

.filter-white{
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(203deg) brightness(111%) contrast(100%);
}


#top-navigation ::ng-deep .mat-tab-label {
    font-size: 14px;
    font-weight: 700;
    font-family: "Muli";
    opacity: 1 !important;
}

#top-navigation ::ng-deep .mat-tab-label-content{
    padding-bottom: 8px;
}

#top-navigation ::ng-deep .mat-tab-label-active {
    background-color: #363636;
    color: #fff;
}

#top-navigation ::ng-deep .mat-ink-bar {
    background-color: #ed384e !important;
    height: 8px !important;
}

#top-navigation ::ng-deep .mat-tab-header{
    background-color: #fff;
}