.table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 800px;
}
  
.mat-table {
    overflow: auto;
}

.icon-delete {
    color: grey;
    font: bold;
    margin-left: 10px;
}

.mat-header-cell {
    min-height: 10px;
    align-items: center;
    background-color: #E7E7E7;  
    color: rgba(0, 0, 0, 0.788);
    font-weight: bold;
    float: center;
}

.mat-header-row {
    background-color: #E7E7E7;   
}

.mat-row {
    float:center;
    border-bottom-style: dashed;
    background-color: #F2F2F2;   
}

.mat-column-room_type {
    flex: 0 0 15%;
    text-align: center;
}

.mat-column-room_name {
    flex: 0 0 15%;
    text-align: center;
}

.mat-column-price {
    flex: 0 0 10%;
    text-align: center;
}

.mat-column-number_of_this_room {
    flex: 0 0 10%;
    text-align: center;
}

.mat-column-measure {
    flex: 0 0 10%;
    text-align: left;
}

.mat-column-living_quantity {
    flex: 0 0 10%;
    text-align: center;
    border-right: 1px;
}

.mat-column-bath_quantity {
    flex: 0 0 10%;
    text-align: center;
}

.mat-column-max_occupancy {
    flex: 0 0 10%;
    text-align: center;
}

.mat-column-size {
    flex: 0 0 10%;
    text-align: center;
}

.occupancy-icon {
    width: 10%; 
    height: 10%;
}

.icon-edit {
    color: #BB005E;
    font: bold;
    margin-left: 10px;
}

.align-text-left {
    text-align: left;
}