.btn-center {
    justify-content: center;
}

label.style-global {
    width: 100%;
}

.single-select-global.allwidth-global {
    width: 100% !important;
}

.twoObj-width {
    width: 49% !important;
}

.margin-left {
    margin-left: 2%;
}

.btn-margin-top {
    margin-top: 20px;
    width: 49%
}