<div class="card-body">
  <form #formGroup="ngForm">
    <div class="separator-global"></div>
    <div class="section-label-global">Itinerary (sub activities)</div>
   
    <div class="row mainrow-global">
      <div class="col-sm-6 form-colums-global">
        <div class="row">
          <label class="style-global">Name of sub activity: <a class="required-global">*</a></label>
        </div>
        <div class="row">
          <input type="text" class="style-global allwidth-global" maxlength="{{itineraryEnum.textMaxSize}}" name="subActivityName" #subActivityName="ngModel" [(ngModel)]="itemModel.subActivityName" placeholder="Name of sub activity" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label class="style-global twoObj-width">Start time: <a class="required-global">*</a></label>
          <label class="style-global twoObj-width margin-left">Ending time: <a class="required-global">*</a></label>
        </div>
        <div class="row">
          <input class="style-global twoObj-width" type="time" maxlength="{{itineraryEnum.textMaxSize}}" name="startTime" #startTime="ngModel" [(ngModel)]="itemModel.startTime" placeholder="00:00" required>
          <input class="style-global twoObj-width margin-left" type="time" maxlength="{{itineraryEnum.textMaxSize}}" name="endTime" #endTime="ngModel" [(ngModel)]="itemModel.endTime" placeholder="00:00" required>
        </div>
      </div>
    </div>

    <div class="row mainrow-global">
      <div class="col-sm-6 form-colums-global">
        <div class="row">
          <label class="style-global">Description details: </label>    
        </div>
        <div class="row">
          <textarea rows="4" cols="100" maxlength="{{itineraryEnum.textMaxSize}}" name="details" #details="ngModel" [(ngModel)]="itemModel.details" placeholder="" ></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label class="style-global">Date: </label>
        </div>
        <div class="row">
          <input class="style-global twoObj-width" type="date" maxlength="{{itineraryEnum.textMaxSize}}" name="date" #date="ngModel" [(ngModel)]="itemModel.date" placeholder="25-05-2018" >
        </div>
        <div class="row">
          <button type="button" class="btn btn-global btn-margin-top" (click)="addActivity()">Add other Sub Activity</button>
        </div>
      </div>
    </div>
    
    <app-list-sub-activities [model]="this.model.subActivitiesList"></app-list-sub-activities>  
   
  </form>
</div>