<div>
    <p class="subtitle-cr">Galería de Fotos y Video</p>
    <div class="row">
        <div class="col-12">
            <accordion>
                <group-accordion title="&nbsp;FOTOS" useCaret="true" opened="true" subtitle="50 VIDEOS AGREGADAS">
                    <div class="row mt-1">
                        <div class="col-12">
                            <div class="mb-5">
                                <div class="d-inline-block text-center columna_opciones_1">2 of 2 photo select</div>
                                <div class="d-inline-block adorno"></div>
                                <div class="d-inline-block text-center columna_opciones_2">Select All</div>
                                <div class="d-inline-block adorno"></div>
                                <div class="d-inline-block text-center columna_opciones_3">Deselect All</div>
                                <div class="d-inline-block adorno"></div>
                                <div class="d-inline-block text-center columna_opciones_4">Delete Photos</div>
                                <fa-stack size="lg" id="howToGet_plus" class="cursor-pointer float-right">
                                    <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                                    <fa-icon [icon]="faPlus" [inverse]="true" stackItemSize="1x"></fa-icon>
                                </fa-stack>
                            </div>
                            <h2 class="text-center mb-0">DRAG AND DROP PHOTOS HERE</h2>
                            <h2 class="text-center subtitle_drag">MAX 50MB UPLOAD</h2>
                            <div class="row mb-5">
                                <div class="col-1 text-center URL_text">
                                    URL
                                </div>
                                <div class="col-10">
                                    <input type="text" class="dotted_input">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-save mr-3">GUARDAR</button>
                                </div>
                            </div>
                            <ngx-dropzone (change)="onSelect($event)" class="row alto-500px">
                                <ngx-dropzone-label>DRAG AND DROP PHOTOS HERE<br>
                                    <fa-icon [icon]="faVideo" size="10x"></fa-icon>
                                </ngx-dropzone-label>
                                <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files" [file]="f" style="width:20%;" class="col-2">
                                    <ngx-dropzone-label class="alto-3rem mb-1 pt-2">
                                        <div class="row">
                                            <div class="col-8 Nombre_Imagen">
                                                Nombre de la Imagen
                                            </div>
                                            <div class="col-1 Icono_Editar">
                                                X
                                            </div>
                                            <div class="col-1 Icono_Eliminar">
                                                <fa-stack size="sm" class="cursor-pointer">
                                                    <fa-icon [icon]="faCircle" stackItemSize="2x" [styles]="{'stroke': '#eb394d', 'color': '#eb394d'}"></fa-icon>
                                                    <fa-icon [icon]="faTrashAlt" [inverse]="true" stackItemSize="1x"></fa-icon>
                                                </fa-stack>
                                            </div>
                                        </div>
                                    </ngx-dropzone-label>
                                </ngx-dropzone-video-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </group-accordion>
            </accordion>
        </div>
    </div>
</div>