<div>
  <ngb-carousel id="dahboard-carousel">
    <ng-template id="slide-hotelIcon" ngbSlide>
      <img src="assets/img/app/dashboard/hotels.jpg" alt="See hotel list" class="image-item" >
      <div class="carousel-caption">
        <div class ="item-link-title">Hotel</div>
        <a href="#hotels" class="item-anchor">Click to see the list of hotels</a>
        <a href="#/base-navigator/hotels/" class="item-anchor">Click to Add hotel</a>
      </div>
    </ng-template>
    <ng-template id="slide-transferIcon" ngbSlide>
      <img src="assets/img/app/dashboard/transfers.jpg" alt="See transfer list" class="image-item">
      <div class="carousel-caption">
        <div class ="item-link-title">Transfer</div>
        <a href="#transfers" class="item-anchor">Click to see the list of transfers</a>
        <a href="#/base-navigator/transfers/" class="item-anchor">Click to Add transfer</a>
      </div>
    </ng-template>
    <ng-template id="slide-activityIcon" ngbSlide>
      <img src="assets/img/app/dashboard/activities.jpg" alt="See activity list" class="image-item">
      <div class="carousel-caption">
        <div class ="item-link-title">Activities</div>
        <a href="#activities" class="item-anchor">Click to see the list of activities</a>
        <a href="#/base-navigator/activities/" class="item-anchor">Click to Add activity</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>